@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");


@import "tailwindcss";


@theme {
  --font-rubik: Rubik, "sans-serif";
  --font-doto: Doto, "sana-serif";
  --font-open: Open+Sans, "sans-serif";
  --font-poppins: Poppins, "sans-serif";
  --font-inter: Inter, "sans-serif";
  --font-satoshi: satoshi, "sans-serif";
  --font-manrope: Manrope, "sans-serif";
  --font-dm-sans: DM+Sans, "sans-serif";
  --color-Bgprimary: #1F2126;
  --color-Bgsecondary: #2B2D33;
  --color-Bghilight:#32343A;
  --color-buttonBlue:#6C5CE7;
  --color-heading:#E2E2E2;
  --color-commontext:#8A8D91;

 
}
/* ✅ Hide calendar icon only on specific fields */
.hide-calendar {
  -webkit-appearance: none;                  /* Chrome, Safari, Edge */
  -moz-appearance: none;                     /* Firefox */
  appearance: none;                           /* Standard */
  position: relative;
  background: transparent;                   /* Ensures no background interference */
}

/* ✅ Hide the built-in calendar icon */
.hide-calendar::-webkit-calendar-picker-indicator {
  display: none;                             /* Chrome, Safari, Edge */
  -webkit-appearance: none;
  appearance: none;
}

.hide-calendar::-moz-calendar-picker-indicator {
  display: none;                             /* Firefox */
}

@layer utilities {
 
  .no-scrollbar::-webkit-scrollbar {
      width: 0;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: 0;  /* Firefox */
}
}